
<div class="row">

  <div class="col-sm-9">
    <h1> News Shots </h1>
    <ul class="nav nav-pills nav-stacked">
      <li *ngFor="let data of this.specificNews">
        <div class="card">
          <img class="card-img-top" src={{data.urlToImage}} alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{data.title}}</h4>
            <p class="card-text">{{data.description}}</p>
            <a href="#" class="btn btn-primary">Add to Favourites</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-sm-3" id="newsList">
    <h1>News Channels</h1>
    <ul class="nav nav-pills nav-stacked">
      <li *ngFor="let data of result" (click)="sendNews(data['id'])">
        <a>{{data['name']}}</a>
      </li>
    </ul>
  </div>
</div>
